<main class="h-screen bg-gray-200 w-screen">

    <div class="h-screen bg-red-200">
        <div class="flex flex-col items-center pt-20">
            <h1>Login</h1>
            <form (submit)="onSubmit()" class="flex flex-col">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Email" value="Sofia" #username>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" value="test" #password>
                </mat-form-field>
                <button class="bg-green-400" (click)="onSubmit()">Enviar</button>
                <a [routerLink]="['/signup']">No tienes una cuenta? <span class="text-blue-600">Crea una</span></a>
            </form>
        </div>

    </div>

</main>